@model PhoneBook.ViewModels.GroupVM.GroupListVM

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>All groups</h3>

<p>
    @(Html.ActionLink<GroupsController>("Create new", c => c.Edit()))
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>

        <th></th>
    </tr>

    @foreach (var group in Model.Groups)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => group.Key.Name)
            </td>
            <td>
                @(Html.ActionLink<GroupsController>("Edit", c => c.Edit(), new { id = group.Key.ID }, new { @class = "btn btn-info waves-effect waves-light" }))
                @(Html.ActionLink<GroupsController>("Delete", c => c.Delete(group.Key.ID), null, new { @class = "btn btn-danger waves-effect waves-light" }))
                <a href="#" class="showContacts btn btn-default waves-effect waves-light">Show contacts</a>
            </td>

            <td style="display:none">
                <table id="contacts-table">
                    <thead>
                        <tr class="contacts">
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th id="select-dropdown">
                                <select class="select-contact"  name="character" multiple="multiple" data-groupID="@group.Key.ID">
                                    @foreach (var contact in group.Value)
                                    {
                                        <option value="@contact.Value" @Html.Raw(contact.Selected ? "selected" : String.Empty)  data-contactID="@contact.Value">@contact.Text</option>
                                    }
                                </select>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var c in group.Key.Contacts)
                        {
                            <tr class="contacts">
                                <td>
                                    @Html.DisplayFor(modelItem => c.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => c.LastName)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
    }
</table>


@section Scripts {
    <script>
        $(document).ready(function () {
            $(function () {
                $('.select-contact').searchableOptionList();
            });

            $('.showContacts').click(function () {
                $(this).parent().next().toggle("slow");

                if ($(this).text() == "Show contacts") {
                    $(this).text("Hide contacts");
                }
                else {
                    $(this).text("Show contacts");
                }
            });

            function removeFromGroupEventListener() {
                $('.remove').click(function () {

                    var a = $(this).parent().parent();
                 
                    var contactID = $(this).attr('data-contactid');
                    $.ajax({
                        type: "Post",
                        url: '@Url.Action("RemoveFromGroup")',
                        data: JSON.stringify({ GroupID: $(this).attr('data-groupid'), ContactID: $(this).attr('data-contactid') }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function () {
                            a.remove();
                            $('sol-checkbox[value' + contactID + ']').prop('checked',false);
                        },
                        error: function () { alert('error'); }
                    });
                });
                

            }
           

            $('.select-contact').change(function () {
                var selectedContacts = $(this).val();
                var groupID = $(this).attr('data-groupID');

                var tbody = $(this).parent().parent().parent().next();
                
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("Add","Groups")',
                    data: JSON.stringify({ contactsID:selectedContacts,groupID:groupID}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        tbody.empty();
                        var input = "";

                        $.each(data, function (key, value) {
                            input += "<tr>";
                            input += "<td> " + value.firstName+"</td>";
                            input += "<td> " + value.lastName + "</td>";
                            input += "</tr>";
                        });

                        tbody.append(input);

                        removeFromGroupEventListener();
                      
                    },
                    error: function () { alert('error'); }
                });
            });
        });
    </script>
}