@model PhoneBook.ViewModels.PhoneVM.PhoneListVM
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>List</h3>

<p>
    @(Html.ActionLink<PhonesController>("Create new", c => c.Edit(),new {contactID=Model.ContactID}))
</p>
<table class="table">
    <tr>
        <th>
            Number
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Phones)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @(Html.ActionLink<PhonesController>("Edit", c => c.Edit(), new { id = item.ID,contactID=Model.ContactID }, new { @class = "btn btn-info waves-effect waves-light" })) 
                @(Html.ActionLink<PhonesController>("Delete", c => c.Delete(item.ID),null, new { @class = "btn btn-danger bnt-sm waves-effect waves-light " }))
            </td>
        </tr>
    }
   
</table>
<div>
    @(Html.ActionLink<ContactsController>("Back to List", c => c.List(1)))
</div>