@model PhoneBook.ViewModels.PhoneVM.PhoneListVM
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>List</h4>

<p>
    @(Html.ActionLink<PhonesController>("Create new", c => c.Edit(), new { contactID = Model.ContactID }))
</p>
@if (Model.Phones.Count == 0)
{
    <p>There are no phones to show.</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                Number
            </th>
            <th>
                Phone type
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Phones)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneType)
                </td>
                <td>
                    @(Html.ActionLink<PhonesController>("Edit", c => c.Edit(), new { id = item.ID, contactID = Model.ContactID }, new { @class = "btn btn-info waves-effect waves-light" }))
                    @(Html.ActionLink<PhonesController>("Delete", c => c.Delete(item.ID), null, new { @class = "btn btn-danger bnt-sm waves-effect waves-light " }))
                </td>
            </tr>
        }
    </table>
}
<div>
    @(Html.ActionLink<ContactsController>("Back to List", c => c.List()))
</div>